html(style='min-height: 100%; height: 100%')
    body(style='background: #eff1f4; display: flex; justify-content: center; align-items: center; min-height: 100%; height: 100%; margin: 0; padding: 0')
        insurance-widget(
        data-adults=1
        data-country='RU'
        data-departure='12.05.2018' 
        data-prefix=''
        data-arrival='13.05.2018'
        data-company='ingos')
        script(src='./app.js')
